# Virtual Environment
.venv/
venv/
env/

# Python bytecode/cache
__pycache__/
*.py[cod]

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Qiskit/IBM local config files (if any)
qiskit-ibm-runtime.log

# generated charts
comprehensive_scaling_chart.png
quantum_plot_A_measurement.png